.newslider-viewport {
  margin: 0px;
  position: relative;
  overflow: hidden;
}

.newslider-viewport .newslider-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}

.newslider-viewport .newslider-wrapper > * {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  float: left;
}
